{
 :aliases

 {
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6" :git/sha "52cf7d6"}} :ns-default build}

  :chat {:exec-fn    ollama.ui/-main}
  }
  :paths ["src", "resources"]
 :deps {cljfx/cljfx {:mvn/version "1.9.3"}
        hellonico/pyjama {:git/url "https://github.com/hellonico/pyjama.git" :git/sha "12b6a2003f8aa1edeb8ff3607658bce30bf1fe7a"}
        org.clojure/core.async {:mvn/version "1.5.648"}}}