{
 :aliases
 {
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6" :git/sha "52cf7d6"}} :ns-default build}

  :flower
  {
   :exec-args {:app-name "pillow" :mainns ollama.ui :compile [ollama.ui]}
   }

  :pillow
  {
   :exec-args {:app-name "pillow" :mainns ollama.models :compile [ollama.models]}
   }

  :build-tools
  {:deps      {build-tools/build-tools {:local/root "../build-tools"}}}

  :chat {:exec-fn    ollama.ui/-main}
  }
  :paths ["src", "resources"]
 :deps {hellonico/pyjama
        {;:git/url "https://github.com/hellonico/pyjama.git"
         ;:git/sha "16c91918c36446f502fb1af8591b511510132cab"
         :local/root "../pyjama"
         }
        hellonico/pyjama-fx
        {;:git/url "https://github.com/hellonico/pyjama.git"
         ;:git/sha "16c91918c36446f502fb1af8591b511510132cab"
         :local/root "../pyjama-fx"
         }
        hellonico/origami-pink {
                                ;:git/url "https://github.com/hellonico/origami-pink.git"
                                :local/root "../origami-pink/pink"
                                ;:deps/root "pink"
                                ;:git/sha "7c60f7abb67bd5e2fdfe2ada659acb0336a36da8"
                                }
        org.clojure/core.async {:mvn/version "1.5.648"}}}